
#page-wrapper{
 background: #000;
 padding: 0;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;

}
/* === wrapper start  === */
.mywrapper {
 position:static;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  padding: 50px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
/* === wrapper end    === */
/* === ============== === */
/* === home header start === */
.home-header {
  width: 100%;
  background: #002766 url(../images/header-bg.png) center bottom no-repeat;
}
.header-wrapper {
  height: 520px;
  padding: 0;
}
.cloud {
  background: url(../images/cloud.png) center bottom no-repeat;
  width: 100%;
  height: 216px;
  margin-top: -216px;
}
.gae-drive-logo {
  background: url(../images/gae-drive-logo.png) center bottom no-repeat;
  width: 100%;
  height: 364px;
  margin-top: -364px;
  z-index: -1;
}
/* === home header end === */
/* === ============ === */
/* === program start === */
.home-program {
  background: #00ffce;
}
.program-wrapper {
  padding: 0;
  text-align: center;
}
.program{
  width: 100%;
  margin: 20px 0 0;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 32px;
  color: #333;
  font-weight: bold;
  margin: 15px 0;
}
.program p{
  font-size: 32px;
}
.program p:last-child {
  font-size: 24px;
  display: block;
}

/* === program end === */
/* === ============ === */
/* === footer start === */
.footer {
  color: #fff;
  background: #002766;
}
.footer a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 2px 10px 3px 0;
  margin-right: 10px;
  border-right: 1px solid #fff;
  display: inline-block;
  line-height: 100%;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p{
  font-size: 14px;
  display: inline-block;
}
.footer-wrapper {
  padding: 20px 0;
  text-align: center;
}
/* === footer end === */
/* ====================================================== */
/* ===  自訂效果  === */
/* ===  自訂延遲  === */
.delay-1000ms {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}
.delay-1500ms {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}
/* ===  自訂延遲  === */

.highlight{
    background-color: #c6dcef;
    -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s;

}
.shadow{
    background-color: #3071a9;
    -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s;
}
.service-item{
    padding: 25px;
}
.service-items{
    padding: 5px;
}
/* === 先放大再縮小 === */
@-webkit-keyframes zoomInOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes zoomInOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
.zoomInOut {
  -webkit-animation-name: zoomInOut;
          animation-name: zoomInOut;
}


