{%extends "template/base.html" %}
{%block extra-css-import %}

{%endblock%}
{%block embedpage %}
<div class="row">
    <div class="col-lg-12" >
        <!-- page-header完畢後，在mobile可看到hr -->
        <h1 class="page-header">
            Cloud drive <small>Storage Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>  <a href="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-bar-chart-o"></i>Charts
            </li>
        </ol>
    </div>
</div>
<!-- 二、雲端空間使用情形 -->
<!-- 先放著，再來處理-->
<div class="row" style="display:none" >
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph Example with Tooltips</h3>
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <h2>Quota details</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th width="150">Resource</th>
                        <th>Quota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>
                            <i class="fa fa-database"></i>                          
                            Stored Data
                        </td>
                        <td>
                            {{wrapper_total_size|countByte}} / 5GB ，
                            {{ wrapper_total_size|percentage:"Blob" }}
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ wrapper_total_size|percentage:"Blob" }};">         
                              </div>
                            </div>
                        </td>                                   
                    </tr>
                    <!-- GAE:Incoming Bandwidth，客戶端上傳至雲端 -->
                    <tr class="success">
                        <td>
                            <i class="fa fa-cloud-upload"></i> 
                            Upload Bandwidth
                        </td>
                        <td>
                            {{ Bandwidth_log.Upload_Bandwidth|countByte}} / 1GB ，
                            {{ Bandwidth_log.Upload_Bandwidth|percentage:"Bandwidth" }}
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ Bandwidth_log.Upload_Bandwidth|percentage:"Bandwidth" }};">
                                
                              </div>
                            </div>
                        </td>                                   
                    </tr>
                    <!-- GAE:Outgoing Bandwidth，雲端下載至客戶端 -->
                    <tr class="success">
                        <td>                            
                            <i class="fa fa-cloud-download"></i>
                            Download Bandwidth
                        </td>
                        <td>
                            {{ Bandwidth_log.Download_Bandwidth|countByte}} / 1GB ，
                            {{ Bandwidth_log.Download_Bandwidth|percentage:"Bandwidth" }}
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ Bandwidth_log.Download_Bandwidth|percentage:"Bandwidth" }};">
                                
                              </div>
                            </div>
                        </td>                                   
                    </tr>
                 </tbody>
            </table>
        </div>  
    </div>


    <!-- flot-pie-chart-one -->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>
                    各用戶使用硬碟空間比例
                </h3>
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-pie-chart-one"></div>
                </div>
                <div class="text-right">
                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#flot-pie-chart-one -->
    <!-- ==================== -->
</div>  
{%endblock%}
{%block extra-jquery-import %}
<!-- Flot Charts JavaScript -->
<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
<script src="/bootstrap/js/plugins/flot/jquery.flot.js"></script>
<script src="/bootstrap/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/bootstrap/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/bootstrap/js/plugins/flot/jquery.flot.pie.js"></script>

<script type="text/javascript">
// === 圖表操作 ===
//很差的js套件，無法解決去除flot-line-chart的問題
$(document).ready(function() {
console.log("document ready");
var offset = 0;
plot();

function plot() {
    var sin = [],
        cos = [];
    for (var i = 0; i < 12; i += 0.2) {
        sin.push([i, Math.sin(i + offset)]);
        cos.push([i, Math.cos(i + offset)]);
    }

    var options = {
        series: {
            lines: {
                show: true
            },
            points: {
                show: true
            }
        },
        grid: {
            hoverable: true //IMPORTANT! this is needed for tooltip to work
        },
        yaxis: {
            min: -1.2,
            max: 1.2
        },
        tooltip: true,
        tooltipOpts: {
            content: "'%s' of %x.1 is %y.4",
            shifts: {
                x: -60,
                y: 25
            }
        }
    };

    var plotObj = $.plot($("#flot-line-chart"), [{
            data: sin,
            label: "sin(x)"
        }, {
            data: cos,
            label: "cos(x)"
        }],
        options);
}
});

//#flot-pie-chart-one
$(function() {
var data = [
{% if user %}            
    {
        label: "you",
        data: {{ owner_usage }}
    },
{% endif %}
{% for owner in owner_list %}  
    {% if user != owner.user %}         
    {
        label: "{{owner.user}}",
        data: 5
    },
    {% endif %}
{% endfor %}

{
    label: "Series 0",
    data: 1
}, 
{
    label: "Series 1",
    data: 3
}, {
    label: "Series 2",
    data: 9
}, {
    label: "Series 3",
    data: 20
},
];

var plotObj = $.plot($("#flot-pie-chart-one"), data, {
    series: {
        pie: {
            show: true
        }
    },
    grid: {
        hoverable: true
    },
    tooltip: true,
    tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
            x: 20,
            y: 0
        },
        defaultTheme: false
    }
});

});
</script>

{%endblock%}

