{%extends "template/base.html" %}
{%block extra-css-import %}
<link rel="stylesheet" href="/modules/style.css" media="screen" type="text/css" />
<style type="text/css">
.table > thead > tr > td.checked,
.table > tbody > tr > td.checked,
.table > tfoot > tr > td.checked,
.table > thead > tr > th.checked,
.table > tbody > tr > th.checked,
.table > tfoot > tr > th.checked,
.table > thead > tr.checked > td,
.table > tbody > tr.checked > td,
.table > tfoot > tr.checked > td,
.table > thead > tr.checked > th,
.table > tbody > tr.checked > th,
.table > tfoot > tr.checked > th {
  background-color: #ECCE41;
}
.table-hover > tbody > tr > td.mouse:hover,
.table-hover > tbody > tr > th.mouse:hover,
.table-hover > tbody > tr.mouse:hover > td,
.table-hover > tbody > tr:hover > .mouse,
.table-hover > tbody > tr.mouse:hover > th {
  background-color: #F3E086;
}
</style>
{%endblock%}
{%block embedpage %} 
<!-- 一、header -->
<!-- row -->
<div class="row">
    <div class="col-lg-12" >
        <!-- page-header完畢後，在mobile可看到hr -->
        <h1 class="page-header">
            Cloud drive <small>Storage Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>  <a href="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-cloud"></i> Cloud drive
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- ==================== -->
<!-- 二、上傳 -->
{% if user %}
<!-- 唯有登入狀態，才能啟用後續服務 -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  
                <a href="/dashboard" class="alert-link"><strong>Simple Quota Details</strong></a>:
                <i class="fa fa-database"></i>
                ({{stored_data_details.Total_usage|countByte}} / 5GB , 
                {{stored_data_details.Total_usage|percentage:"Blob" }}) / 
                <i class="fa fa-cloud-upload"></i> 
                ({{ Bandwidth_log.Upload_Bandwidth|countByte}} / 1GB , 
                {{ Bandwidth_log.Upload_Bandwidth|percentage:"Bandwidth" }}) / 
                <i class="fa fa-cloud-download"></i>
                ({{ Bandwidth_log.Download_Bandwidth|countByte}} / 1GB , 
                {{ Bandwidth_log.Download_Bandwidth|percentage:"Bandwidth" }})
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
        <div class="well">
            <table border="0">
                <tbody>
                    <tr>
                        <!-- 操作按鈕 -->
                        <td class="col-lg-3">
                        <div class="btn-group ">
                            <form action="/delete" method="post">
                                <input id="delete_array" type="hidden" name="key">
                                <span id="delete" class="btn btn-default btn-del" data-toggle="tooltip" data-placement="bottom" title="刪除">
                                    <span class="glyphicon glyphicon-trash ">
                                        <input type="submit" value="Delete" >
                                        <span id="delete_count" class="badge"></span>
                                    </span>
                                </span>
                            </form>
                        </div>
                        </td>
                        <!-- 預覽方式 -->
                        <!--
                        <td class="col-lg-3" align="right">
                        <div class="btn-group"  >
                            <button type="button" class="btn btn-default active" data-toggle="tooltip" data-placement="bottom" title="List" name="list_btn">
                                <i class="fa fa-list-ul"></i>
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Grid" name="grid_btn">
                                <i class="fa fa-th"></i>
                            </button>
                        </div>                        
                        </td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>        
        </div> 
        <div class="col-lg-6">
        <div class="well">
    	<!--表單 :觸發python上傳動作 -->
        	<form id="form" action="{{upload_url}}" method="POST" enctype="multipart/form-data">                   
                <div class="btn-group ">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-danger btn-file" data-toggle="tooltip" data-placement="bottom" title="Browse">
                                <span class="glyphicon glyphicon-search"></span>
                                Browse <input type="file" name="file" multiple>
                            </span>
                            <button type="submit" name="submit" value="Submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="上傳" >
                                <span class="glyphicon glyphicon-open"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </form>
        </div>      
        </div> 
    </div>
    <!-- /.row -->
{% else %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  
                <strong>One account. All of Google.</strong>
                Sign in to continue to Cloud drive.
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endif %}
<!-- ======== -->
<!-- 三、明細 -->
<div class="row">
    <div class="col-lg-12">       
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>
                        <input type="checkbox" class="select_all" name="list">
                    </th>
                    <th>Title</th>
                    <th>Size</th>
                    <th>Last modified</th>
                    <th>Owner</th>
                </thead>
                <tbody>
					<!-- 1.tbody:blob沒有任何檔案時，則顯示以下訊息 -->
					{% if not wrappers %}
						<tr>
                            <td>-</td>
							<td>Null</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					{% endif %}
					<!-- 2.tbody:已經有人上傳檔案至blob時，則顯示以下訊息 -->
					{% for wrapper in wrappers %}
                        <!-- 多選刪除權限 -->                                      
                        {% ifequal wrapper.user user %}
                        <tr id="check_box" class="mouse">
                            <td><input type="checkbox" class="select"></td>
                        {% else %}
                        <tr>  
                            <td>-</td>
                        {% endifequal %}

                            <!-- 1.檔案名稱 -->
							<td >
                                <i class="{{wrapper.blob.content_type|Content_Type}}"></i>
                                <a href="/serve/{{wrapper.blob.key}}">{{wrapper.blob.filename}}</a>
                            </td>
							<!-- 2.檔案大小 -->
							<td>{{ wrapper.blob.size|countByte }}</td>
							<!-- 3.上傳時間 -->
							<td>{{wrapper.date|date:"D d M Y g:i:s A"}}</td>
							<!-- 4.上傳作者 -->
							<td>
								<!--如果你是該上傳者，才具有刪除權限 -->
								{% ifequal wrapper.user user %}
									you
                                    <input type="hidden" class="key" value="{{wrapper.key}}">
								{% else %}
									<small>
										{{wrapper.user.email}}

									</small>
								{% endifequal %}
							</td>
						</tr>
					{% endfor %}
                 </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->
{%endblock%}
{%block extra-jquery-import %}
<script src="/modules/index.js"></script>
<script type="text/javascript">
// === form操作 ===
$(document).ready(function() {
    $("button,span").tooltip();
    /* === 核取方塊操作 === */
    //計算check的數量
    checked_count=0;
    function is_all() {
        if ( checked_count == $(".select").length ){
            $(".select_all").prop("checked",true);            
        }else{
            $(".select_all").prop("checked",false);           
        }
    }
    //全選、全取消
    $("input[class='select_all']").click(function() { 
        if($(".select_all").prop("checked")){
            $("input[class='select']").prop("checked", true);
            checked_count = $(".select").length;   
            check_del();

        }
        else{
            $("input[class='select']").prop("checked", false);
            checked_count = 0;
            check_del();
        }  
        console.log("test");     
    });
    //單一選項點擊事件
    $(".select").click(function() {        
        if( $(this).prop("checked") ){
            checked_count++;
        }else{
            checked_count--;
        }
        is_all(); 
        check_del();
    });

    /* === 刪除操作 === */
    $("span[id='delete']").hide();    
    function check_del() {
         if ( checked_count > 0 ){
            $("span[id='delete']").show();
            $("span[id='delete_count']").html(checked_count);

            //刪除對象紀錄
            var keys =[];
            for(i=0;i<=$(".select").length; i++){
                if($(".select").eq(i).prop("checked")){
                    //
                    $("tr[id='check_box']").eq(i).removeClass("mouse" );
                    $("tr[id='check_box']").eq(i).addClass("checked" );

                    //陣列存取
                    keys.push( $("input[class='key']").eq(i).prop("value") );
                    $("input[id='delete_array']").prop('value', keys);

                }
                else{
                    $("tr[id='check_box']").eq(i).removeClass("checked" );
                    $("tr[id='check_box']").eq(i).addClass("mouse" );
                } 
            }
            console.log(keys);
         }else{
            $("span[id='delete']").hide();
         }
    }
});
</script>


{%endblock%}