{%extends "template/base.html" %}
{%block embedpage %}


    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- page-header完畢後，在mobile可看到hr -->
            <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
            </h1>
            <!-- breadcrumb:麵包屑 -->
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

	{% if user %}
    <!-- 唯有登入狀態，才能啟用後續服務 -->
		<h3>Upload</h3>
		<!--表單 :觸發python上傳動作 -->
		<form id="form" action="{{upload_url}}" method="POST" enctype="multipart/form-data">
			<!--選擇檔案-->
			<input type="file" name="file">
			<!--送出-->
			<input type="submit" name="submit" value="Submit">
		</form>
	{% else %}
		Not logged in - <a href="/account">log in</a>
	{% endif %}

	<ul>
		<h3><div class="head3">我的雲端硬碟</div></h3>
		<!--blob沒有任何檔案時，則顯示以下訊息-->
		{% if not wrappers %}
			No files have been uploaded
		{% endif %}
		<!--依序列出blob的檔案 -->
		<table border=1>
			<tr>
				<th class="tableheader">檔案名稱</th>
				<th class="tableheader">檔案大小</th>
				<th class="tableheader">上傳時間</th>
				<th class="tableheader">上傳作者</th>
				<th class="tableheader">刪除檔案</th>
            </tr>
		{% for wrapper in wrappers %}
			<tr>
				<!-- 1.檔案名稱 -->
				<td><a href="/serve/{{wrapper.blob.key}}">{{wrapper.blob.filename}}</a></td>
				<!-- 2.檔案大小 -->
				<td>{{ wrapper.blob.size|countByte }}</td>
				<!-- 3.上傳時間 -->
				<td>{{wrapper.date|date:"D d M Y g:i:s A"}}</td>
				<!-- 4.上傳作者 -->
				<td>
					<!--如果你是該上傳者，才具有刪除權限 -->
					{% ifequal wrapper.user user %}
						you
					{% else %}
						<small>
							{{wrapper.user.email}}
						</small>
					{% endifequal %}
				</td>
				<td>
					{% ifequal wrapper.user user %}
						<form action="/delete" method="post">
						<input type="hidden" name="key" value="{{wrapper.key}}">
						<input type="submit" value="Delete">
					{% endifequal %}
				</td>
		{% endfor %}
		<table>
	</ul>

	<hr>

	<!-- 雲端空間使用情形 -->
	<h3><div class="head3">已經使用</divc></h3>
	<div >{{wrapper_total_size|countByte}}</div>

	<table bgcolor="#d3d3d3">
	<tr>
	<td width=100% bgcolor="#d3d3d3">
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60% </div>
	</div>
	</td>
	</tr>
	</table>
 {%endblock%}