{%extends "template/base.html" %}
{%block extra-css-import %}
<link rel="stylesheet" href="/modules/style.css" media="screen" type="text/css" />
{%endblock%}
{%block embedpage %} 
<!-- 一、header -->
<!-- row -->
<div class="row">
    <div class="col-lg-12" >
        <!-- page-header完畢後，在mobile可看到hr -->
        <h1 class="page-header">
            Cloud drive <small>Storage Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>  <a href="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-cloud"></i> Cloud drive
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- ==================== -->

<!-- ======== -->
<!-- 二、上傳 -->
{% if user %}
<!-- 唯有登入狀態，才能啟用後續服務 -->

    <div class="col-lg-12  well">
	<!--表單 :觸發python上傳動作 -->
	<form id="form" action="{{upload_url}}" method="POST" enctype="multipart/form-data">
        <!--舊的作法-->
        <!--
        <input type="file" title="test" class=" "name="file" multiple="multiple" class="btn btn-default">             
        <input type="submit" name="submit" value="Submit">
        -->
        <!--新的作法-->       
        
        <div class="btn-group col-lg-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-danger btn-file">
                        <span class="glyphicon glyphicon-search"></span>
                        Browse <input type="file" name="file" multiple>
                    </span>
                    <button type="submit" name="submit" value="Submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-open"></span>
                    </button>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
        </div>

        <div class="col-lg-6">
        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash "></span> Delete
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-th"></span>
            </button>
        </div>
        </div>       


	</form>
    </div>
{% else %}
	Not logged in - <a href="/account">log in</a>
{% endif %}
<!-- ======== -->
<!-- 三、明細 -->
<div class="row">
    <div class="col-lg-12">       



        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                        <th>
                            <input type="checkbox" id="select_all">
                        </th>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Last modified</th>
                        <th>Owner</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
					<!-- 1.tbody:blob沒有任何檔案時，則顯示以下訊息 -->
					{% if not wrappers %}
						<tr>
                            <td><input type="checkbox" class="select"></td>
							<td>Null</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					{% endif %}
					<!-- 2.tbody:已經有人上傳檔案至blob時，則顯示以下訊息 -->
					{% for wrapper in wrappers %}
						<tr>
                            <td><input type="checkbox" class="select"></td>
							<!-- 1.檔案名稱 -->
							<td><a href="/serve/{{wrapper.blob.key}}">{{wrapper.blob.filename}}</a></td>
							<!-- 2.檔案大小 -->
							<td>{{ wrapper.blob.size|countByte }}</td>
							<!-- 3.上傳時間 -->
							<td>{{wrapper.date|date:"D d M Y g:i:s A"}}</td>
							<!-- 4.上傳作者 -->
							<td>
								<!--如果你是該上傳者，才具有刪除權限 -->
								{% ifequal wrapper.user user %}
									you
								{% else %}
									<small>
										{{wrapper.user.email}}
									</small>
								{% endifequal %}
							</td>
							<td>
								{% ifequal wrapper.user user %}
									<form action="/delete" method="post">
									<input type="hidden" name="key" value="{{wrapper.key}}">
									<input type="submit" value="Delete">
								{% endifequal %}
							</td>
						</tr>
					{% endfor %}
                 </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                .col-lg-12
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{%endblock%}
{%block extra-jquery-import %}

<script src="/modules/index.js"></script>

<script type="text/javascript">
// === form操作 ===
$(document).ready(function() {

    //計算check的數量
    checked_count=0;
    function is_all() {
        if ( checked_count == $(".select").length ){
            $("#select_all").prop("checked",true);            
        }else{
            $("#select_all").prop("checked",false);           
        }
    }
    //全選、全取消
    $("#select_all").click(function() { 
        if($("#select_all").prop("checked")){
            $("input[class='select']").prop("checked", true);
            checked_count = $(".select").length;      
        }
        else{
            $("input[class='select']").prop("checked", false);
            checked_count = 0;
        }       
    });
    //單一選項點擊事件
    $(".select").click(function() {        
        if( $(this).prop("checked") ){
            checked_count++;
        }else{
            checked_count--;
        }
        is_all(); 
    });
});
</script>
{%endblock%}