<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
    	<!-- Home -->
        <li class="{% if startup_web == "home" %}active{% endif %}">
            <a href="/">
            <i class="fa fa-fw fa-home"></i>
            Home</a>
        </li>
        <!-- Dashboard -->
        <li class="{% if startup_web == "dashboard" %}active{% endif %}">
            <a href="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            Dashboard</a>
        </li>
        <!-- Cloud Drive  -->
         <li class="{% if startup_web == "clouddrive" %}active{% endif %}">
            <a href="/clouddrive">
            <i class="fa fa-fw fa-cloud"></i>
            Cloud Drive</a>
        </li>
        <!-- Instant Messaging  -->
         <li class="{% if startup_web == "clouddrive" %}active{% endif %}">
            <a href="/instant_messaging">
            <i class="fa fa-fw fa-comments"></i>
            Instant Messaging</a>
        </li>
        <!-- Message Board  -->
         <li class="{% if startup_web == "clouddrive" %}active{% endif %}">
            <a href="/message_board">
            <i class="fa fa-fw fa-comment"></i>
            Message Board</a>
        </li>
    </ul>
</div>